<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %></title>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <div class="iphone-14-pro-max-mockup">
        <div class="screen">
            <div class="status-bar">
                <div class="notch">
                    <div class="speaker"></div>
                    <div class="light"></div>
                    <div class="camera-dot"></div>
                </div>
                <div class=" time">
                    <span id="timeNow"></span>
                </div>
                <div class="icon">
                    <!-- iphone network icon -->
                    <i class="fa-solid fa-signal"></i>
                    <!-- iphone wifi icon -->
                    <i class="fa-solid fa-wifi"></i>
                    <!-- iphone battery icon -->
                    <i class="fa-solid fa-battery-full fa-lg"></i>
                </div>
            </div>
            <div class="content-login">
                <div class="heading">
                    <h1 class="title"> Welcome Back</h1>
                    <p class="sub-title">Login to access your account</p>
                </div>
                <div class="select-button">
                    <button id="loginWithPhone" class="toggle-button active">Phone Number</button>
                    <button id="loginWithEmail" class="toggle-button">Email</button>
                </div>
                <div class="login-form">
                    <form action="">
                        <div class="input-group" id="emailInput" style="display: none;">
                            <label for="email">Email</label><br>
                            <input type="email" name="email" required>
                        </div>
                        <div class="input-group" id="phoneInput">
                            <label for="nummber">Phone Number</label><br>
                            <input type="number" name="nummber" required>
                        </div>

                        <div class="input-group">
                            <label for="password">Password</label><br>
                            <input type="password" name="password" required>
                        </div>
                        <div class="rm-fp">
                            <div class="custom-checkbox">
                                <input type="checkbox" name="rememberMe" id="rememberMe">
                                <label for="rememberMe">Remember Me</label>
                            </div>
                            <div>
                                <a href="#" class="forgot">Forgot Password?</a>
                            </div>
                        </div>
                        <button type="submit">Login</button>
                    </form>
                    <div class="register-link">
                        Don't have an account? <a href="/api/v1/user/register">Register</a>
                    </div>
                </div>
                <div class="navagation"></div>
            </div>
        </div>

        <script src="/js/script.js"></script>

</body>

</html>